.dashboard {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  background-color: rgb(8, 4, 31);
  min-height: 100vh;
}

h1.appName {
  text-align: center;
  font-size: 10em;
  background: linear-gradient(to right, cyan, purple, pink);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

li {
  padding: 20px;
}

.NavBar li:last-child {
  margin-left: auto;
}

input {
  height: 40px;
  border-radius: 20px;
  background-color: rgb(46, 14, 46);
  border-style: none;
  color: bisque;
  padding: 10px;
  font-weight: bolder;
}

input:hover {
  color: aqua;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  font-size: 1.6em;
  color: aqua;
}

button:hover {
  font-weight: bolder;
}

section.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
p {
  color: beige;
}

.get-tickets-btn {
  width: 10em;
  height: 3em;
  font-size: larger;
  border-style: none;
  border-radius: 30px;
  color: aliceblue;
  background-color: blue;
  margin: 40px;
}

.Genres {
  display: flex;
  justify-content: flex-start;
  border: 2px rgb(255, 255, 255) solid;
}

.Genres a {
  color: white;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 25px;
  background-color: gray;
  opacity: 0.5;
}

.Genres ul li {
  background-color: purple;
}
